body{
	font-family: sans-serif;
}

.vase{
	margin-top: 20px;

}

.vase1{
	margin-bottom: 80px;
}

h1{
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;
}

.gallery{
	margin: 10px 50px;
}

.gallery img{
	width: 230px;
	padding: 5px;
}

.gallery img:hover{
	transform: scale(1.1);
}

